################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinanceClient/bin/Debug
/BinanceClient/obj/Debug
BinanceClientTests/bin/Debug
BinanceClientTests/obj/Debug
/.vs/BinanceClient
/packages
*.dll
BinanceClient/bin/Release/BinanceDEXClient.dll.config
BinanceClient/bin/Release/BinanceDEXClient.pdb
BinanceClient/bin/Release/Google.Protobuf.pdb
BinanceClient/bin/Release/Google.Protobuf.xml
BinanceClient/bin/Release/license.txt
BinanceClient/bin/Release/Microsoft.Extensions.Logging.Abstractions.xml
BinanceClient/bin/Release/NBitcoin.xml
BinanceClient/bin/Release/Newtonsoft.Json.xml
BinanceClient/bin/Release/System.Buffers.xml
BinanceClient/bin/Release/websocket-sharp.xml
BinanceClient/BinanceDEXClient.1.0.0.nupkg
BinanceClient/BinanceClient.1.0.0.nupkg
BinanceClient/BinanceClient.nuspec
BinanceClient/nuget.exe
BinanceClient/obj/Release/BinanceClient.csproj.CopyComplete
BinanceClient/obj/Release/BinanceClient.csproj.CoreCompileInputs.cache
BinanceClient/obj/Release/BinanceClient.csproj.FileListAbsolute.txt
BinanceClient/obj/Release/BinanceClient.csprojAssemblyReference.cache
BinanceClient/obj/Release/BinanceDEXClient.pdb
BinanceClient/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BinanceClientTests/bin/Release/BinanceClientTests.pdb
BinanceClientTests/bin/Release/BinanceDEXClient.dll.config
BinanceClientTests/bin/Release/BinanceDEXClient.pdb
BinanceClientTests/bin/Release/Google.Protobuf.pdb
BinanceClientTests/bin/Release/Google.Protobuf.xml
BinanceClientTests/bin/Release/license.txt
BinanceClientTests/bin/Release/Microsoft.Extensions.Logging.Abstractions.xml
BinanceClientTests/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
BinanceClientTests/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
BinanceClientTests/bin/Release/NBitcoin.xml
BinanceClientTests/bin/Release/Newtonsoft.Json.xml
BinanceClientTests/bin/Release/System.Buffers.xml
BinanceClientTests/bin/Release/websocket-sharp.xml
BinanceClientTests/obj/Release/BinanceClientTests.csproj.CopyComplete
BinanceClientTests/obj/Release/BinanceClientTests.csproj.CoreCompileInputs.cache
BinanceClientTests/obj/Release/BinanceClientTests.csproj.FileListAbsolute.txt
BinanceClientTests/obj/Release/BinanceClientTests.csprojAssemblyReference.cache
BinanceClientTests/obj/Release/BinanceClientTests.pdb
DemoConsole/bin/Debug/BinanceDEXClient.dll.config
DemoConsole/bin/Debug/BinanceDEXClient.pdb
DemoConsole/bin/Debug/DemoConsole.exe
DemoConsole/bin/Debug/DemoConsole.exe.config
DemoConsole/bin/Debug/DemoConsole.pdb
DemoConsole/bin/Debug/Google.Protobuf.pdb
DemoConsole/bin/Debug/Google.Protobuf.xml
DemoConsole/bin/Debug/license.txt
DemoConsole/bin/Debug/Microsoft.Extensions.Logging.Abstractions.xml
DemoConsole/bin/Debug/NBitcoin.xml
DemoConsole/bin/Debug/Newtonsoft.Json.xml
DemoConsole/bin/Debug/System.Buffers.xml
DemoConsole/bin/Debug/websocket-sharp.xml
DemoConsole/obj/Debug/DemoConsole.csproj.CopyComplete
DemoConsole/obj/Debug/DemoConsole.csproj.CoreCompileInputs.cache
DemoConsole/obj/Debug/DemoConsole.csproj.FileListAbsolute.txt
DemoConsole/obj/Debug/DemoConsole.csprojAssemblyReference.cache
DemoConsole/obj/Debug/DemoConsole.exe
DemoConsole/obj/Debug/DemoConsole.pdb
DemoConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
