################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinanceClient/bin/Debug
/BinanceClient/obj/Debug
/.vs/BinanceClient
/packages
